body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--main);
  margin: 0;
  align-items: center;
}

.img-cart {
  height: 22px;
  width: 22px;
  margin: 3px;
  background-image: url("/public/cart.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navitem {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.navbtn {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border: black;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  border-width: 2px;
}

#bannerimg {
  background-image: url("/public/nl.jpg");
  height: 300px;
  background-position: 60% 60%;
  background-size: cover;
}

#centering {
  text-align: center;
  margin: auto;
  position: relative;
  top: 30%;
}
.straatnaam-outer {
  padding: 7px;
  background-color: #004DA2;
  block-size: fit-content;
  width: fit-content;
}

.straatnaam-sm {
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: #004DA2;
  padding: 10px 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
}

.straatnaam-xl {
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: #004DA2;
  padding: 13px 13px;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
}
