.container {
  margin: 0px 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  display: inline-grid;
  margin: 10px;
}

.card-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.card {
  width: 350px;
  height: 150px;
  margin: 10px 10px 0 10px;
  background-image: url("/public/nl.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-btn {
  background-color: #ff9b00;
  padding: 5px;
  border-radius: 10px;
  width: 340px;
  margin: 0 10px 10px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
}

.btn-grey {
  background-color: var(--gray);
}

.grid-upper-line {
  background-color: var(--gray);
  width: 100%;
  height: 2px;
}
