.container {
  margin: 50px 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  display: inline-grid;
  margin: 10px;
}

.card {
  width: 350px;
  height: 150px;
  margin: 10px;
  background-image: url("/public/nl.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card>h3 {
  background-color: rgb(17, 205, 17);
  padding: 5px;
  border-radius: 3px;
}
